body {
    background-color: #160130;
    text-align: center;
}

h1 {
    color: #f77f00;
    font-size: 85px;
    margin-top: 50px;
}

.menue {
    text-align: center;
    font-size: 70px;
    color: #000000;
    background-color: #1481e0;
    font-family: "Comic Sans MS";
    border: 20px solid #e2f700;
    margin: auto;
}

img {
    height: 300px;
}

.buttDiv {
    display: inline;
}

#back {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
}

.gameButt {
    background-color: #1481e0;
    border: 15px solid #e2f700;
    margin: auto;
}

#backButt {
    background-color: #1481e0;
    border: 5px solid #e2f700;
    font-family: "Comic Sans MS";
    color: #000000;
    font-size: 20px;
}

.name {
    color: #ffffff;
    display: inline;
    font-size: 50px
}

.scoreDiv {
    display: inline-block;
    margin: 30px;
}

.space {
    border: none;
}

#reset {
    background-color: #1481e0;
    border: 5px solid #e2f700;
    font-family: "Comic Sans MS";
    color: #000000;
    font-size: 20px;
    display: block;
    position: absolute;
    left: 20px;
    top: 70px;
}

.pointBar {
    border: solid 3px #e2f700;
    width: 200px;
    display: inline-block;
}

#playerDiv {
    margin-right: 50px;
}

#oppDiv {
    margin-left: 50px;
}

#playerBar {
    margin-right: 90px;
}

#oppBar {
    margin-left: 60px;
}

#change {
    background-color: #1481e0;
    border: 5px solid #e2f700;
    font-family: "Comic Sans MS";
    color: #000000;
    font-size: 20px;
    display: block;
    position: absolute;
    left: 20px;
    top: 120px;
}

.entity {
    border: 4px solid #ffffff;
    display: block;
    border-radius: 10%;
    width: 45%;
}

.entity img {
    margin: auto;
    display: block;
}

#enemy {
    margin-left: 50px;
}

#main {
    display: flex;
}

.named {
    color: #ffffff;
    font-size: 55px;
    margin: 15px;
    display: inline;
}

.healthBar {
    border: 5px solid #f77f00;
    width: 275px;
}

.health {
    color: #ff0000;
    font-size: 35px;
    margin: 10px;
}

#heroHealth {
    color: #07d800;
}

#Fight {
    color: #ffdc42;
    font-size: 85px;
    margin-top: 50px;
}

#changeButton {
    background-color: #1481e0;
    border: 5px solid #e2f700;
    font-family: "Comic Sans MS";
    color: #000000;
    font-size: 15px;
    border-radius: 40%;
    position: relative;
    bottom: 9px;
}

#heroName {
    text-align: center;
    margin-left: 170px;
}

.entitySpace {
    height: 15px;
}
